.result-module {
	position: relative;
 	background: #fff;
	width: 1024px;
	margin: 3em auto 3em auto;
	background: #fff;
	border-radius: .5em;
	box-shadow: 0 20px 20px -20px #333;
	padding: 20px 25px;
	table {
		margin-bottom: 0;
	}
}