
<div class="left_dev">
  <ul class="list-group">
    <li class="list-group-item"><a href="#">风险视图</a></li>
    <li class="list-group-item"><a href="#">内部关系</a></li>
    <li class="list-group-item"><a href="#">外部关系</a></li>
    
  </ul>
</div>
<div class="mid_dev">
<span>找</span>
		<input type="text" name="" class="form-control" placeholder="找啥？" ng-model="params.value">
		<button type="button" class="btn btn-default lichao-find" ng-click="getSome()">开始找</button>
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="container" style="width: 100%;height:100%;"></div>

</div>

<div class="right_dev">
  <table class="table table-hover">
    <tr class="active">
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr class="success">
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr class="warning">
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr class="danger">
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr class="info">
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>

  </table>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:100%;"></div>
   
</div>
