<style type="text/css">
	.my-drop-zone { display: inline-block; border: dotted 3px lightgray; margin: 0;margin-left: 2em;padding: 5px 20px;}
	.nv-file-over { border: dotted 3px green; } /* Default class applied to drop zones on over */
</style>
<div class="home-module">
	<div class="titles-area">后台管理页 v0.1.0</div>
	<div class="select-area">
		<span class="title">筛选物料:</span>
		<span class="zai">按</span>
		<div class="btn-group">
			<button type="button" class="btn btn-default lichao-dropdown">{{category}}</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="javascript:void(0)" ng-click="setCategory('物料编码', 'code')">物料编码</a></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('物料名称', 'name')">物料名称</a></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('物料描述', 'description')">物料描述</a></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('明细类', 'detailclass')">明细类</a></li>
				<li class="divider"></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('大类', 'majorcategory')">大类</a></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('中类', 'subcategory')">中类</a></li>
				<li class="divider"></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('生产公司', 'company')">生产公司</a></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('产品线', 'productline')">产品线</a></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('面价', 'marketprice')">面价</a></li>
				<li><a href="javascript:void(0)" ng-click="setCategory('折扣', 'discount')">折扣</a></li>
			</ul>
		</div>
		<span>找</span>
		<input type="text" name="" class="form-control" placeholder="找啥？" ng-model="params.value">
		<button type="button" class="btn btn-default lichao-find" ng-click="getSome()">开始找</button>
		<!-- <button type="button" class="btn btn-default lichao-all" ng-click="getAll()">显示所有</button> -->
		<span style="font-size: 70%;color: #587;margin-left: 1em;position: relative;top: 6px;">提示：多个<span style="color: #FF6600;">关键词</span>之间用<span style="color: #FF6600
;">空格</span>隔开, 系统会匹配到包含所有这些关键字的记录</span>
	</div>
	<!-- 需要两个东西: nv-file-drop nv-file-over -->
	<div class="insert-area">
		<span class="title">导入物料:</span>
		<div class="well my-drop-zone" id="materialDrop">
			<span ng-show="importLoading" class="app-import-loading">
				<i class="fa fa-spinner fa-spin loading-spinner"></i>
			</span>
			<span id="importTip">将EXCEL文件拖拽到此处</span>
		</div>
		<input type="button" id="importBtn" style="margin-left: 10px;" class="btn btn-default" ng-click="importMaterials()" name="" value="点击导入">
	</div>
	<div class="content-area">
		<div ng-show="loading" class="app-content-loading">
			<i class="fa fa-spinner fa-spin loading-spinner"></i>
		</div>
		<div class="table-container">
			<table class="table table-hover">
				<thead style="word-break: keep-all;">
					<tr>
						<th>物料编码</th>
						<th>物料名称<span style="font-size: 80%;">(点击修改)</span></th>
						<th>物料描述</th>
						<th>明细类</th>
						<th>面价</th>
						<th>折扣<span style="font-size: 80%;">(点击修改)</span></th>
						<th>折扣价</th>
						<th>备注<span style="font-size: 80%;">(点击修改)</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td>{{item.code}}</td>
						<td ng-click="changeName(item)"><span>{{item.name === null? "":item.name}}</span><a href="javascript:void(0)">{{item.name === null? "添加名称":""}}</a></td>
						<td>{{item.description}}</td>
						<td>{{item.detailclass}}</td>
						<td>{{item.marketprice}}</td>
						<td ng-click="changeDiscount(item)"><span>{{item.discount === null? "":item.discount}}</span><a href="javascript:void(0)">{{item.discount === null? "添加折扣":""}}</a></td>
						<td>{{item.discountprice | number:2}}</td>
						<td ng-click="changeRemarks(item)"><span>{{item.remarks === null? "":item.remarks}}</span><a href="javascript:void(0)">{{item.remarks === null? "添加备注":""}}</a></td>
						<td><a href="javascript:void(0)" ng-click="addToResult(item)"><i class="fa fa-plus" style="color: rgb(60, 118, 61);" aria-hidden="true"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>