.sidemenu {
	position: fixed;
	top: 190px;
	left: 10px;
	@mixin sidemenuA($top) {
		display: block;
		background: #fff;
		padding: 5px;
		border: 2px solid #000;
		border-radius: 5px;
		color: #333;
		margin: 10px 0;
		text-decoration: none;
		&:hover, &:active {
			background: #58a;
			color: #fff;
		}
		&::before {
			position: absolute;
			content: "";
			left: -10px;
			width: 10px;
			top: $top;
			border: 1px solid #000;
		}
	}
	a.first {
		@include sidemenuA(18%);
	}
	a.mid {
		@include sidemenuA(50%);
	}
	a.last {
		@include sidemenuA(80%);
		text-align: center;
		&:hover, &:active {
			background: rgb(199, 37, 78);
			color: #fff;
		}
	}
}