<div class="left_ris">
        <div style="height: 40px;margin-bottom: 2px;">
			<input type="text" placeholder="用户搜索输入区" style="width:100%;height:100%">
		</div>
		<div style="height: 60px;margin-bottom: 2px;">
			显示当前被认证的用户信息及状态概要
		</div>
		<div style="height: 70px;margin-bottom: 2px;">
				监控流程位置地图切换
		</div>
		<div style="position: relative;">
			<img src="img/image.png" alt="" width="100%" height="100%">
			<!-- <img src="img/arrow.gif" alt="" style="position: absolute;left: 63px;"> -->
		</div>
		<!-- <form>
			<input type="text" ng-model="params.value"/>
			<input type="submit" ng-click="getById()"/>
		</form>
		<button ng-click="getById()">123</button>
		
		<h2>{{items}}</h2> -->
</div>
<div class="mid_ris">
		<div class="tab-wrap">
			<div class="tab-nav nav nav-tabs nav-justified"  role="tablist" style="margin-bottom:5px;">
				<li data-tab="tab1" class="showTab" role="presentation"><a href="javascript:void(0);">交易数据</a></li>
				<li data-tab="tab2" class="showTab" role="presentation"><a href="javascript:void(0);">登陆数据</a></li>
				<li data-tab="tab3" class="showTab" role="presentation"><a href="javascript:void(0);">用户数据</a></li>
				<li data-tab="tab4" class="showTab" role="presentation"><a href="javascript:void(0);">设备信息</a></li>
			</div>
			<div class="tab-content">
				<div class="tab-pane in tab1" id="tab1">
					<table class="table table-hover">
						<thead>
							<tr>
								<td>转出地址</td>
								<td>转入地址</td>
								<td>交易时间</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in transactionItems|limitTo:10'>
								<td>{{item.tranOutAcctZoneNum}}</td>
								<td>{{item.tranInAcctZoneNum}}</td>
								<td>{{item.eventDt|date:'y-MM-dd HH:mm'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane tab2" id="tab2">
					<table  class="table table-hover">
						<thead>
							<tr>
								<td>地址</td>
								<td>IP</td>
								<td>安卓标识</td>
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in LoginItems|limitTo:10'>
								<td>{{item.webbankRgstZoneNum}}</td>
								<td>{{item.custIp}}</td>
								<td>{{item.androidSysPadInd}}</td>
								
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane tab3 " id="tab3" >
					<table  class="table table-hover">
						<thead>
							<tr>
								<td>性别</td>
								<td>手机</td>
								<td>住址</td>
								<td>受教育程度</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in CustomerItems|limitTo:10'>
								<td>{{item.genderCd}}</td>
								<td>{{item.mobile}}</td>
								<td>{{item.homeAddr}}</td>
								<td>{{item.eduDegreeCd}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane tab4" id="tab4">
					<table  class="table table-hover">
						<thead>
							<tr>
								<td>设备串号</td>
								<td>厂商信息</td>
								<!-- <td>系统版本</td> -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in Deviceitems|limitTo:10'>
								<td>{{item.equSerialNum}}</td>
								<td>{{item.factoryInfo}}</td>
								<!-- <td>{{item.osVersions}}</td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>

    <div class="right_ris">
		<div style="height:300px;overflow-y:scroll;">
			<!-- tab*2 -->
			<div class="tab-wrap">
				<div class="tab-nav nav nav-tabs nav-justified"  role="tablist">
					<li data-tab="tab1"><a href="javascript:void(0);">拦截交易</a></li>
					<li data-tab="tab2"><a href="javascript:void(0);">放行交易</a></li>
				</div>
				<div class="tab-content" >
					<div class="tab-pane in tab1" id="tab1">
						<table class="table table-hover">
							<thead>
								<tr>
									<td>转出地址</td>
									<td>转入地址</td>
									<td>交易时间</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in rejectArray| orderBy:'-id'">
									<td>{{item.tranOutAcctZoneNum}}</td>
									<td>{{item.tranInAcctZoneNum}}</td>
									<td>{{item.eventDt|date:'y-MM-dd HH:mm'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane tab2" id="tab2">
						<table class="table table-hover">
							<thead>
								<tr>
									<td>转出地址</td>
									<td>转入地址</td>
									<td>交易时间</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in passArray|orderBy:'-id'">
									<td>{{item.tranOutAcctZoneNum}}</td>
									<td>{{item.tranInAcctZoneNum}}</td>
									<td>{{item.eventDt|date:'y-MM-dd HH:mm'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
				
		</div>
		<div>
			<div id="pic1" style="width: 100%;height: 300px;">
				
			</div>
			<!-- <div id="pic2" style="width: 100%;height: 300px;">
				
			</div> -->
		</div>
</div>