<div class="left_ris">
        <div style="height: 40px;margin-bottom: 2px;">
			<input type="text" placeholder="用户搜索输入区">
		</div>
		<div style="height: 60px;margin-bottom: 2px;">
			显示当前被认证的用户信息及状态概要
		</div>
		<div style="height: 50px;margin-bottom: 2px;">
				监控流程位置地图切换
		</div>
		<div style="position: relative;">
			<img src="img/image.png" alt="" width="100%" height="200px"">
			<!-- <img src="img/arrow.gif" alt="" style="position: absolute;left: 63px;"> -->
		</div>
		<form>
			<input type="text" ng-model="params.value"/>
			<input type="submit" ng-click="getById()"/>
		</form>
		<button ng-click="getById()">123</button>
		
		<h2>{{items}}</h2>
</div>
<div class="mid_ris">
		<div class="tab-wrap">
			<div class="tab-nav ">
				<li data-tab="tab1" class="showTab"><a href="javascript:void(0);">交易数据</a></li>
				<li data-tab="tab2" class="showTab"><a href="javascript:void(0);">登陆数据</a></li>
				<li data-tab="tab3" class="showTab"><a href="javascript:void(0);">用户数据</a></li>
				<li data-tab="tab4" class="showTab"><a href="javascript:void(0);">设备信息</a></li>
			</div>
			<div class="tab-content">
				<div class="tab-pane in tab1" id="tab1">
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
					<li>交易数据list</li>
				</div>
				<div class="tab-pane tab2" id="tab2">
					<li>登陆数据list</li>
					<li>登陆数据list</li>
					<li>登陆数据list</li>
					<li>登陆数据list</li>
					<li>登陆数据list</li>
					<li>登陆数据list</li>
					<li>登陆数据list</li>
					<li>登陆数据list</li>
				</div>
				<div class="tab-pane tab3" id="tab3">
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
					<li>用户数据list</li>
				</div>
				<div class="tab-pane tab4" id="tab4">
					<li>设备信息list</li>
					<li>设备信息list</li>
					<li>设备信息list</li>
					<li>设备信息list</li>
					<li>设备信息list</li>
					<li>设备信息list</li>
				</div>
			</div>
		</div>
    </div>

    <div class="right_ris">
		<div>
				<!-- tab*2 -->
				<div class="tab-wrap">
					<div class="tab-nav ">
						<li data-tab="tab1"><a href="javascript:void(0);">拦截交易</a></li>
						<li data-tab="tab2"><a href="javascript:void(0);">放行交易</a></li>
					</div>
					<div class="tab-content">
						<div class="tab-pane in tab1" id="tab1">
	                        <li>拦截交易list</li>
	                        <li>拦截交易list</li>
	                        <li>拦截交易list</li>
	                        <li>拦截交易list</li>
	                        <li>拦截交易list</li>
	                        <li>拦截交易list</li>
	            		</div>
	            		<div class="tab-pane tab2" id="tab2">
	                        <li>放行交易list</li>
	                        <li>放行交易list</li>
	                        <li>放行交易list</li>
	                        <li>放行交易list</li>
	                        <li>放行交易list</li>
	                        <li>放行交易list</li>
	                        <li>放行交易list</li>
	                        <li>放行交易list</li>
	            		</div>
					</div>
				</div>
				
			</div>
			<div>
				<div id="pic1" style="width: 100%;height: 300px;">
					
				</div>
				<div id="pic2" style="width: 100%;height: 300px;">
					
				</div>
			</div>
</div>