.left_tra {
  float: left;
  width: 60%;
  height: 100%;
  margin-top: 2px;
  border: 1px solid black;
  /*background: red;*/
}
.right_tra{
  float: left;
  width: 40%;
  height: 100%;
  /*background: green;*/
}
.right_up_tra{
	float: left;
	width: 100%;
	height: 30%;
	/*background: blue;*/
}
.rigth_down_tra{
	float: left;
	width: 100%;
	height: 70%;
	/*background: gray;*/
}

.tab-pane li {
	line-height:35px;
	
}