.left_act {
  float: left;
  width: 10%;
  height: 100%;
  margin-top: 2px;
   border: 1px solid black;
   border-right: none;
}
.left_act>div:last-child{
	border: none;
}
.mid_act{
  float: left;
  width: 65%;
  height: 100%;
   margin-top: 2px;
   border: 1px solid black;
   border-right:none;
}
.right_act{
  float: left;
  width: 35%;  
  height:  100%;
  margin-top: 2px;
  border: 1px solid black;
}