<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="tiger.common.dal.persistence.mapper.TestMapper">
    <resultMap id="TestResultMap" type="tiger.common.dal.persistence.account.TestDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findNameById" resultMap="TestResultMap">
        select *
        from test t
        where t.id=#{testId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from test
        where id = #{testId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="tiger.common.dal.persistence.account.TestDO" useGeneratedKeys="true" keyProperty="id">
        insert into test(name,create_time,update_time)
        values (#{name,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>

</mapper>
