<div class="left_dev">
  <ul class="list-group">
<!--     <li id="time">&nbsp;&nbsp;<span>2017-01-08 20:17:14</span></li>
    <li class="list-group-item">设备信息</a></li>
 -->    
    <li>当前登录地点</li>
    <li id="ip">IP：&nbsp;&nbsp;<span>10.20.25.28</span></li>
    <li id="location">地址：&nbsp;&nbsp;<span>上海市</span></li>     
  </ul>
</div>

<div class="mid_dev">
  <!-- 根据ip地址确定设备地理位置 -->
  <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script> 

  <!-- 将登陆地理位置显示在地图上 -->  
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
  <div id="map" style="width: 100%;height:100%;"></div>
  
</div>

<div class="right_dev">
  <!-- 显示最近登陆记录 -->
  <div class="right_dev_table" style="overflow-y:scroll">
    <table class="table">
      <tr>
        <th colspan="2">登陆设备列表</th>
      </tr>
      <tr>
        <th>序号</th>
        <th>卡号</th>
        <th>登录时间</th>
        <th>登录地点</th>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{item.id}}</td>
        <td>{{item.tranOutCardNum}}</td>
        <td>{{item.eventDt|date:'y-M-d'}}</td>
        <td>{{item.tranOutAcctZoneNum}}</td>
      </tr>
    </table>
  </div>


  <!--风险设备统计图 -->
  <button type="button" ng-click="findInMap(items)">显示地图</button>
  <button type="button" ng-click="findPeriod()">显示统计图</button>
  <div id="chart" style="width: 100%;height: 50%;"></div>
    <script type="text/javascript">
    </script>
  </div>
</div>


<!-- 根据ip地址确定设备地理位置 -->
<script type="text/javascript">
    (function ip() {
      var str=returnCitySN["cip"];
      var _result=document.getElementById("ip");
      _result.innerHTML = str;
      str = returnCitySN["cname"];
      _result = document.getElementById("location");
      _result.innerHTML = str;
    })();
</script>

