.left_dev {
  float: left;
  width: 10%;
  height: 100%;
  margin-top: 2px;
   border: 1px solid black;
   border-right: none;
}
.left_dev>div:last-child{
	border: none;
}
.mid_dev{
  float: left;
  width: 65%;
  height: 100%;
   margin-top: 2px;
   border: 1px solid black;
   border-right:none;
}
.right_dev{
  float: left;
  width: 25%;  
  height:  100%;
  margin-top: 2px;
  border: 1px solid black;
}
.right_dev_table{
  font-size: 50%;
  float: left;
  width: 100%;  
  height:  40%;
}
.right_dev_chart{
  float: left;
  width: 25%;  
  height:  60%;
}